#prompt-generator-btn {
    width: 100%;
    background-color: #A288D1;
}

#submit-btn {
    width: 100%;
    background-color: #BA3434;
    color: white;
}

#output-row {
    width: 100%
}

#output {
    padding: 0% 25% 0% 25%;
    height: 512px;
    width: 512px;
}